<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<listeners>
	<listener class-name="nishthatomer.TestComponents.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Submit Order">
  
    <classes>
      <class name="nishthatomer.SubmitOrderwithBaseTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Error Validations">
    <classes>
      <class name="nishthatomer.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
